<h4>Last Messages Received</h4>
<div ng-repeat="msg in contactMessages">
  <div class="row">
    <div class="post-meta">
      <h1 class="content-subhead">Pinned Post</h1>
      <div class="col-sm-4 col-xs-5">
        <div ng-show="msg.dateCreated">
          <span class=" labellabel-info"> {{msg.dateCreated | date: 'medium'}} </span>
          <br />
        </div>
        <span>
          by <b class="text text-info">{{msg.name}}</b>
        </span>
      </div>
      <div class="col-sm-8 col-xs-7">
        <cite> {{msg.message}} </cite>
      </div>
    </div>
  </div>
</div>