<div class="jumbotron">
  <h1>'Hello OSL Team!'</h1>
  <p class="row lead">
    <img class="col-sm-4 col-xs-6" src="images/nodejs-logo.png" alt="Yeoman">
    <img class="col-sm-4 col-xs-6" src="images/bower-logo.png" alt="Yeoman">
    <img class="col-sm-4 col-xs-6" src="images/yeoman-logo.png" alt="Yeoman">
    <img class="col-sm-4 col-xs-6" src="images/grunt-logo.png" alt="Yeoman">
    <img class="col-sm-4 col-xs-6" src="images/spring-boot-logo.png" alt="Yeoman">
    <img class="col-sm-4 col-xs-6" src="images/mongodb-logo.png" alt="Yeoman">
    <br>
  </p>
</div>