<div class="jumbotron">
  <h1>'Hello OSL Team!'</h1>
  <div class="container" align="center">
    <div class="col-sm-4 col-xs-6">
      <img class="img-responsive" src="images/nodejs-logo.png" alt="Nodejs" />
    </div>
    <div class="col-sm-4 col-xs-6">
      <img class="img-responsive" src="images/bower-logo.png" alt="Bower" />
    </div>
    <div class="col-sm-4 col-xs-6">
      <img class="img-responsive" src="images/yeoman-logo.png" alt="Yeoman" />
    </div>
    <div class="col-sm-4 col-xs-6">
      <img class="img-responsive" src="images/grunt-logo.png" alt="Grunt" />
    </div>
    <div class="col-sm-4 col-xs-6">
      <img class="img-responsive" src="images/spring-boot-logo.png" alt="Spring-Boot" />
    </div>
    <div class="col-sm-4 col-xs-6">
      <img class="img-responsive" src="images/mongodb-logo.png" alt="MongoDB" />
    </div>
    <br />
  </div>
</div>